@import "base";

.page-title {
  @extend %base-page-title;
  padding: 0 5px 0;
  margin: 0 0 15px;
}

.projects-container {
  display: flex;
  flex-direction: column;
  align-content: baseline;
  width: 100%;
  margin: 0 0 10px;

  .project {
    @extend %base-project;
    margin-bottom: 10px;
    width: 100%;
  }

  .project:last-of-type {
    margin-bottom: 0;
  }
}