@import "base";

.page-title {
  @extend %base-page-title;
  padding: 0 5px 0;
  margin: 0 0 15px;
}

.projects-container {
  display: flex;
  flex-direction: column;
  align-content: baseline;
  width: 100%;
  margin: 0 0 10px;

  .project {
    @extend %base-project;
    margin-bottom: 10px;
    width: 100%;

    .owner {
      position: relative;
      display: inline-block;
      border-bottom: 1px dotted $font-color-a;

      .ownerToolTip {
        visibility: hidden;
        width: fit-content;
        width: -moz-fit-content;

        background-color: $bg-color-a;
        border: #00e099 solid 2px;
        color: $font-color-a;
        padding: 5px;
        border-radius: 5px;

        left: 100%;
        top: 0;
        margin-left: 10px;

        position: absolute;
        z-index: 1;

        .owner-tooltip-body {
          img {
            max-width: 128px;
            max-height: 128px;
            margin-bottom: 5px;
          }

          h3 {
            margin: 0 0 5px;
            font-size: $medium-font-size;
          }

          div {
            margin-bottom: 5px;
            white-space: nowrap;
          }

          div:last-of-type {
            margin-bottom: 0;
          }
        }
      }

      .ownerToolTip::after {
        content: " ";
        position: absolute;
        top: 5px;
        right: 100%;
        margin-top: -5px;
        border-width: 7px;
        border-style: solid;
        border-color: transparent #00e099 transparent transparent;
      }
    }

    .owner:hover {
      .ownerToolTip {
        visibility: visible;
      }
    }
  }

  .project:last-of-type {
    margin-bottom: 0;
  }
}