<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">

    <link rel="stylesheet" href="/styles/index.css">
    <link rel="stylesheet" href="/styles/header.css">

    <title>Hackaday Projects</title>

    <script>
        /**************************************************
         * reference: https://stackoverflow.com/a/20584396 *
         *     - nodeScriptReplace()                       *
         *     - nodeScriptClone()                         *
         *     - nodeScriptIs()                            *
         **************************************************/

        function nodeScriptReplace(node) {
            if (nodeScriptIs(node) === true) {
                node.parentNode.replaceChild(
                    nodeScriptClone(node) ,
                    node
                );
            }
            else {
                let i = -1;
                let children = node.childNodes;
                while ( ++i < children.length ) {
                    nodeScriptReplace(children[i]);
                }
            }

            return node;
        }

        function nodeScriptClone(node) {
            let script  = document.createElement("script");
            script.text = node.innerHTML;

            let i = -1;
            let attrs = node.attributes;
            let attr;
            while (++i < attrs.length) {
                script.setAttribute(
                    (attr = attrs[i]).name,
                    attr.value
                );
            }
            return script;
        }

        function nodeScriptIs(node) {
            return node.tagName === 'SCRIPT';
        }

        window.onpopstate = function (event) {
            if (event.state && event.state.projects) {
                let template = document.createElement("template");
                template.innerHTML = event.state.projects.trim();
                let projects = template.content.firstChild;
                nodeScriptReplace(projects);

                document.getElementById("projectsContainer").replaceWith(projects);
            }

            let currentPage = 1;
            let searchParams = new URLSearchParams(window.location.search);
            if (searchParams.has("page")) {
                currentPage = parseInt(searchParams.get("page"));
            }

            if (currentPage === 1) {
                document.getElementById("prevPageButton").style.display = "none";
            }
            else {
                document.getElementById("prevPageButton").style.display = "inline-block";
            }
        }
    </script>
</head>
<body id="index-body">
    <%- include("components/header.ejs") %>

    <%- include("components/projects.ejs") %>

    <script>
        window.history.replaceState({"projects": document.getElementById("projectsContainer").outerHTML}, "");
    </script>

    <div>
        <button
            id="prevPageButton"
            name="paginationButton"
            <% if (page === 1) { %>
                style="display: none"
            <% } %>
        >
            prev
        </button>

        <button
            id="nextPageButton"
            name="paginationButton"
        >
            next
        </button>

        <script>
            let paginationHandler = function (event) {
                let paginationButton = event.currentTarget;
                paginationButton.disabled = true;

                let currentPage = 1;
                let searchParams = new URLSearchParams(window.location.search);
                if (searchParams.has("page")) {
                    currentPage = parseInt(searchParams.get("page"));
                }

                let sortBySearch = "";
                let validSortBy = ["skulls", "newest", "views", "comments", "followers", "updated"];
                if (searchParams.has("sortby") && validSortBy.includes(searchParams.get("sortby"))) {
                    sortBySearch = `&sortby=${searchParams.get("sortby")}`;
                }

                let newPage;
                if (paginationButton.id === "nextPageButton") {
                    newPage = currentPage + 1;
                }
                else {
                    newPage = currentPage - 1;
                }

                let newPath = `/?page=${newPage}${sortBySearch}`;
                let xhr = new XMLHttpRequest();

                xhr.open("GET", newPath);
                xhr.setRequestHeader("return_projects_only", "*");

                xhr.onreadystatechange = function () {
                    if (xhr.readyState === 4) {
                        if (xhr.status === 200) {
                            window.history.pushState({"projects": xhr.response}, "", newPath)

                            let template = document.createElement("template");
                            template.innerHTML = xhr.response.trim();
                            let projects = template.content.firstChild;
                            nodeScriptReplace(projects);

                            document.getElementById("projectsContainer").replaceWith(projects);

                            if (newPage === 1) {
                                document.getElementById("prevPageButton").style.display = "none";
                            }
                            else {
                                document.getElementById("prevPageButton").style.display = "inline-block";
                            }

                            paginationButton.disabled = false;
                        }
                        else {
                            console.log(xhr.status);
                            console.log(xhr.response);
                            paginationButton.disabled = false;
                        }
                    }
                }

                xhr.send();
            };

            let paginationButtons = document.getElementsByName("paginationButton");
            for (let i = 0; i < paginationButtons.length; ++i) {
                paginationButtons[i].addEventListener("click", paginationHandler);
            }
        </script>
    </div>
</body>
</html>