<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Hackday Projects</title>
</head>
<body>
    <% for (let i=0; i < projects.length; i++) { %>
        <div>
            <h2>
                <%= projects[i].name  %>
            </h2>

            <div>
                lorem ipsum
            </div>
        </div>
    <% } %>
</body>
</html>